{% load static %}

        <!-- Start Footer Area -->
        <footer class="htc__foooter__area gray-bg">
            <div class="container">
                <div class="row">
                    <div class="footer__container clearfix">
                         <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-lg-3 col-sm-6">
                            <div class="ft__widget">
                                <div class="ft__logo">
                                    <a href="{% url 'home' %}">
                                        <img src="{% static 'images/logo/Logo.png' %}" alt="footer logo">
                                    </a>
                                </div>
                                <div class="footer-address">
                                    <ul>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-pin"></i>
                                            </div>
                                            <div class="address-text">
                                                <p>Ngách 56, Ngõ An Sơn, Trương Định,<br> Hai Bà Trưng, Hà Nội</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-email"></i>
                                            </div>
                                            <div class="address-text">
                                                <a href="{% url 'coming' %}"> thiv22209@gmail.com</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-phone-in-talk"></i>
                                            </div>
                                            <div class="address-text">
                                                <p>091 552 94 403 </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="social__icon">
                                    <!-- <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li> -->
                                    <li><a href="https://www.instagram.com/2but1.secondhand/"><i class="zmdi zmdi-instagram"></i></a></li>
                                    <li><a href="https://www.facebook.com/Reveurs2hand"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <!-- <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li> -->
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-lg-3 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Danh mục sản phẩm</h2>
                                <ul class="footer-categories">
                                    <li><a href="{% url 'coming' %}">Thời trang unisex</a></li>
                                    <li><a href="{% url 'coming' %}">Thời trang nam</a></li>
                                    <li><a href="{% url 'coming' %}">Thời trang nữ</a></li>
                                    <li><a href="{% url 'coming' %}">Phụ kiện</a></li>
                                    <li><a href="{% url 'coming' %}">Giày</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-lg-3 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Thông tin hỗ trợ</h2>
                                <ul class="footer-categories">
                                    <li><a href="{% url 'coming' %}">Giới thiệu</a></li>
                                    <li><a href="{% url 'coming' %}">Liên hệ</a></li>
                                    <li><a href="{% url 'coming' %}">Hướng dẫn mua hàng</a></li>
                                    <li><a href="{% url 'coming' %}">Phương thức thanh toán</a></li>
                                    <li><a href="{% url 'coming' %}">Feedback khách hàng</a></li>
                                    <li><a href="{% url 'coming' %}">Chương trình khuyến mại</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-lg-2 col-lg-offset-1 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Bản tin</h2>
                                <div class="newsletter__form">
                                    <p>Đăng ký để nhận tin khuyến mại sớm nhất.</p>
                                    <div class="input__box">
                                        <div id="mc_embed_signup">
                                            <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                                <div id="mc_embed_signup_scroll" class="htc__news__inner">
                                                    <div class="news__input">
                                                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Nhập email..." required>
                                                    </div>
                                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                                    <div class="clearfix subscribe__btn"><input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="bst__btn btn--white__color">
                                                        
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>        
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                    </div>
                </div>
                <!-- Start Copyright Area -->
                <div class="htc__copyright__area">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="copyright__inner">
                                <div class="copyright">
                                    <p>Hà Văn Học - Hệ Thống Thông Tin Quản Lý</p>
                                </div>
                                <ul class="footer__menu">
                                    <li><a href="{% url 'home' %}">Trang chủ</a></li>
                                    <li><a href="{% url 'coming' %}">Sản phẩm</a></li>
                                    <li><a href="{% url 'coming' %}">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright Area -->
            </div>
        </footer>
        <!-- End Footer Area -->